# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# make sure the pypi credentials don't go into git
.pypirc
# neither should any local development configurations
/.idea/
/venv/